<div>
  <!-- Details -->
  <div>
    <h4>Game status:</h4>
    <label>{{displayGameStatus()}}</label>
    <br/>
    <label>{{details}}</label>
  </div>

  <button class="ready-button" (click)="ready()">Ready</button>

  <!-- Fields -->
  <div class="fields">
    <div class="player-field">
      <app-player-field></app-player-field>
    </div>
    <div class="opponent-field" *ngIf="showOpponentField">
      <app-opponent-field></app-opponent-field>
    </div>
  </div>

  <!-- Score -->
  <app-score></app-score>

  <!-- Statistic -->
  <app-statistic></app-statistic>
</div>
