.score {
  width: 300px;
  display: table;
  text-align: center;
}

.score .score-player1 {
  display: table-cell;
  width: 150px;
  background-color: orange;
  padding: 1em .5em 1em .5em;
}

.score .score-value {
  border-bottom: solid 1px grey;
}

.score .score-player2 {
  display: table-cell;
  width: 150px;
  background-color: aqua;
  padding: 1em .5em 1em .5em;
}
