<h3></h3>

<div class="statistic">
  <div *ngFor="let ship of gameService.player.shipStatistic">

    <div class="ship">

      <div class="ship-image">
        <img src="{{getShipImagePath(ship.type)}}">
      </div>

      <div class="ship-hits">
        <!-- Build hits -->
        <div class="miss" *ngFor="let lifeIndex of [].constructor(ship.hits)">
          <img src="../assets/hit_small.png">
        </div>
        <!-- Build miss -->
        <div class="miss" *ngFor="let lifeIndex of [].constructor(ship.size - ship.hits)">
          <img src="../assets/miss_small.png">
        </div>
      </div>

    </div>

  </div>
</div>
